<!DOCTYPE html>


<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <title>About Me</title>
</head>
<body>
    <div class="container bg-light text-dark shadow" style="margin-top:50px">
        <hr/>
            
        <center><section name="about_me">
                
            <h2>About Me</h2>
            <div id="over" class="text-center">
                <img src= "https://maung.id/static/c72d4b97bc7a561342424a4726f9444e/9f583/KR21.jpg" alt="Avatar" width = "200" height="200" />
            </div>
            <p></p>
            <p>Halo, Perkenalkan saya Hasna!</p>
        
            
            
        </section>
        </center>   
        <hr/>

        <section name="biodata">
            
            <h2>Biodata</h2>
                
            <p>Nama: {{nama}}</p>   
            <p>NPM: {{NPM}}</p> 
            <p>Angkatan: 2019</p>
            <p>Tempat Kuliah: Fakultas Ilmu Komputer, Universitas Indonesia</p>
            <p>Hobi: Menonton Film</p>
            <p href="https://www.instagram.com/nadifahsn/">Instagram: @nadifahsn</p>
            
        </section>
        <hr/>
        <section name="deskripsi">
            
            <h2>Deskripsi</h2>
                
            <p>Saya adalah seseorang yang ekstrovert dan senang berinteraksi dan bertukar pikiran dengan banyak orang. 
            Saya juga senang jalan-jalan dan menghabiskan waktu diluar. Walaupun saya suka keramaian, saya juga seseorang yang
            selalu menyempatkan diri untuk me-time dan menghabiskan waktu sendiri.
            </p>
            
        </section>
        <hr/>
        <section name="riwayat">
            
            <h2>Riwayat Pendidikan</h2>
            <p></p>
            <ul>
                
                {% for ii in riwayat %}
                    
                <li> {{ ii }} </li>
                    
                {% endfor %}
                
            </ul>
            
        </section>
        <hr/>
    
    </div>
    
    

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
</body>
<style>
    body{
      background-image: url('https://images.sharefaith.com/images/3/1499104480466_113/img_mouseover3.jpg'); 		
    }
    img {
        border-radius: 50%;
    }
    
  </style>
</html>